<div class="container">
 
  <ul class="nav nav-tabs">
    
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/ng2checkeditor']">Ng2CheckEditor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/sec4']">Section -4</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"[routerLink]="['/sec5']">Section -5</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/sec6']">Sec6 Directives</a>
    </li>
  
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Dropdown</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/sec7']">Template Driven form</a>
        <a class="dropdown-item" [routerLink]="['/sec8']">Reactive forms</a>
        <a class="dropdown-item" href="#">Link 3</a></div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</div>